.App {
  font-family: Arial, "Roboto";
  text-align: center;
  margin: 20px;
  background-image: linear-gradient(to right, #f0f7f6, rgba(59,130,246,.5));
  background-size: cover;
}

form {
  margin-bottom: 20px;
}

input {
  margin: 5px;
  padding: 10px;
  width: 200px;
}


button {
  padding: 10px 20px;
  margin-top: 10px;
  background-image: linear-gradient(to right, #084951, #3b0442);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #590e5d;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}


.heading{
  font-family: "Roboto";

}

.buyer-input{
  
  color: rgb(6, 82, 6);
}

.seller-input {
  color: red;
  
}
